@import "tailwindcss";

:root {
	color-scheme: light;

	--background: #ffffff;
	--foreground: #171717;
}

:root[data-theme="inline"] {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.form-input {
	@apply w-full border border-gray-300 rounded-lg p-3 bg-white
         focus:ring-2 focus:ring-blue-500 outline-none;
}

.form-textarea {
	@apply w-full border border-gray-300 rounded-lg p-3 bg-white
         focus:ring-2 focus:ring-blue-500 outline-none;
}

.upload-box {
	@apply border-2 border-dashed border-gray-300 rounded-lg p-5 bg-gray-50
         flex items-center justify-between;
}

.upload-success {
	@apply flex items-center gap-2 text-green-600 text-sm ml-4;
}

.upload-empty {
	@apply flex items-center gap-2 text-gray-500 text-sm ml-4;
}

.tag {
	@apply bg-blue-100 text-blue-600 px-3 py-1 text-xs rounded-full;
}

.btn-primary {
	@apply bg-blue-600 text-white py-3 rounded-lg font-semibold shadow-sm
         hover:bg-blue-700 transition;
}
